[2017-01-08 17:33] Eufranio opened #1 "Is AuthMeBungee stable now?"
:|

[2017-01-08 18:17] sgdc3 commented on #1
Nope, sorry. Please don't open issues for such reasons, we have a gitter chat to discuss about that.

[2017-01-08 18:17] #1 closed, assigned to nobody

[2017-03-05 02:53] Bodyash opened #3 "remove the bukkit module (now implemented into AuthMe)"
I think its not implemented at all. After login - authme doesnt send any info to AuthmeBungee, and players cant use chat and commands.

[2017-07-27 21:05] sgdc3 commented on #3
I know, we have to implement it again

[2017-07-27 23:07] sgdc3 commented on #3
Done, needs testing

[2017-07-27 23:07] #3 closed, assigned to nobody

[2017-08-04 13:02] puigru opened #4 "Exception encountered when loading plugin: AuthMeBungee"
When using AuthMeBungee on the latest version of Bungee I keep getting this exception in the console, the plugin itself seems to work just fine but the config is not being created.

ch.jalu.injector.exceptions.InjectorException: Class 'class ch.jalu.configme.SettingsManager' with package 'ch.jalu.configme' is outside of the allowed packages. It must be provided explicitly or the package must be pa

[2017-08-04 16:58] sgdc3 commented on #4
@ljacqu relocation related issue?

[2017-08-05 11:23] ljacqu commented on #4
@sgdc3 This occurs when the injector is configured with a given package and we try to instantiate a class outside of that package.

In AuthMeBungeeSpigot:
[code]

You can fix this in different ways:
a) Don't limit what package can be instantiated, i.e. `new InjectorBuilder().addDefaultHandlers("").create()`
b) Extend SettingsManager inside the fr.xephi.auhtmebungee package and use that class inste

[2017-08-05 17:48] sgdc3 commented on #4
Ok, thank you, i'll fix that asap

[2017-08-22 00:05] sgdc3 commented on #4
Thank you, @XXLuigiMario i'm very busy atm, i completely forgot about that.

[2017-08-22 00:05] #4 closed, assigned to sgdc3

[2017-11-11 14:53] DoNotSpamPls opened #7 "Plugin doesn't load"
[code]

I feel like it's because of [this](https://bitcoin.is-serious.business/142f8c.png) change in commit a30befa, correct me if I'm wrong

[2017-11-11 15:55] sgdc3 commented on #7
yeah, sorry, some automatic refactoring related issue... xD Missed that.

[2017-11-11 15:57] #7 closed, assigned to nobody

[2017-11-17 13:28] sgdc3 opened #8 "Teleport back to auth servers after logout"
https://github.com/AuthMe/AuthMeReloaded/issues/1414

[2017-12-01 18:25] ljacqu opened #9 "AuthPlayer#proxy is never set"
I saw that [AuthPlayer](https://github.com/AuthMe/AuthMeBungee/blob/master/src/main/java/fr/xephi/authmebungee/data/AuthPlayer.java) has an `@Inject` field but the objects get created by hand, so that field will always be `null`

[2017-12-02 17:35] ghost opened #10 "error"
travertine
`https://ci.lucko.me/job/Travertine/`

![kit](https://user-images.githubusercontent.com/5884000/33518100-ae07e532-d78f-11e7-9ab0-4fa4967346c4.png)

plugins
[code]

[2017-12-03 19:56] #9 closed, assigned to sgdc3

[2017-12-03 20:03] sgdc3 commented on #10
Thank you ;)

[2017-12-03 20:03] #10 closed, assigned to sgdc3

[2017-12-03 23:21] ghost opened #12 "chat and command"
any command or message in chat not work
![2017-12-04_00 14 46](https://user-images.githubusercontent.com/5884000/33531050-6455c680-d888-11e7-86c3-7666523606f9.png)

config
[code]

only i can use a /login or /register

yes, I'm already logged in

on any other servers in my network i have the same problem

travertine
`https://ci.lucko.me/job/Travertine/`

plugins
[code]

[2017-12-04 23:14] sgdc3 commented on #12
Could you try again with the latest build?

[2017-12-04 23:15] #8 closed, assigned to nobody

[2017-12-07 20:15] downboy commented on #12
i have the same issue, and i have the latest build on my network. i hope you can fix it!

[2017-12-07 20:26] ghost commented on #12
@downboy try it the latest build
http://ci.xephi.fr/job/AuthMeBungee/

[2017-12-07 20:52] KokaKiwi commented on #12
Same problem here with the latest build

[2017-12-07 21:15] sgdc3 commented on #12
:/ strange

[2017-12-07 21:38] KokaKiwi commented on #12
Ok found the problem, just had to set the AuthMe config `Hooks.bungeecord` to `true`
That's not explained anywhere (at least not somewhere easily accessible for a *required* option), so maybe a small doc would be nice.

[2017-12-09 22:36] AmazedMender16 opened #13 "Download link"
Im getting the error that the file is missing, Could anyone look into this?

[2017-12-10 21:29] sgdc3 commented on #13
Fixed

[2017-12-10 21:29] #13 closed, assigned to nobody

[2017-12-27 20:11] DarkFort opened #14 "Saving the last position of the player on the server on which he was last before leaving the server"
Suppose there are two survival servers, the player was last on one server and left. Then he went in and returned it to the same server. The same function is present in the plugin "BungeeAuth by yooxa"

[2017-12-27 20:25] hex3l commented on #14
@sgdc3 AuthMe shouldn't do that by default?

[2017-12-27 22:41] sgdc3 commented on #14
Just use different location columns per server. Please ask for help on the AuthMeReloaded page.

[2017-12-27 22:41] #14 closed, assigned to nobody

[2017-12-28 19:04] flechabenx opened #15 "AutoLogin doesn't work"
I have the autologin option enabled in AuthMeBungee config and I have two servers. The idea is that players login in the "lobby" server and then they can go to survival server without login again. Currently, this is my config (I enabled bungeecord option in AuthMe in both servers):

![1](https://user-images.githubusercontent.com/6844371/34420412-932e4c86-ebf0-11e7-9336-2c1396a8ddcc.png)

But when

[2017-12-28 22:16] sgdc3 commented on #15
please post your authmereloaded config file

[2017-12-29 00:42] flechabenx commented on #15
Ok here is it. Is the same config for lobby and survival server
https://pastebin.com/hwpmhTb4

[2017-12-29 02:34] sgdc3 commented on #15
You have to use a common mysql database

[2017-12-29 17:30] DarkFort opened #16 "Send the player directly to the last server bypassing the authorization lobby if the session was saved"
.if(sesion) else

[2017-12-29 18:03] flechabenx commented on #15
Thank you, now it works!

[2017-12-29 18:03] #15 closed, assigned to nobody

[2018-01-02 17:44] ghost opened #17 "hack my server"
any one player can join ( without login ) to my admin account

then can use any bungee command, example.
`/server`
or
`/end`

---

i must remove this permission
`/lp group lider permission set bungeecord.* false`

---

authme bungee config
[code]

authme bungee
`https://ci.xephi.fr/job/AuthMeBungee/34/`

authme
`https://ci.xephi.fr/job/AuthMeReloaded/1892/`

[2018-01-02 21:20] sgdc3 commented on #17
please describe your network structure

[2018-01-02 21:26] ghost commented on #17
@sgdc3

timings - hub
`https://timings.aikar.co/?id=96dbb0db1f1b4fadb483f8f853e61f51`

travertine - bungee
`https://ci.lucko.me/job/Travertine/`

plugins - bungee
[code]

you can join to my server

<details>

`mc.dragonsonline.pl`

</details>

[2018-01-02 21:46] sgdc3 commented on #17
I mean the servers structure: lobbies, auth servers, minigames, etc... In which servers do you have authme installed?

[2018-01-02 22:02] ghost commented on #17
any other server in my network has doesn't matter.

[2018-01-02 23:14] sgdc3 commented on #17
you need to put into the list any server that is running authmereloaded

[2018-01-02 23:38] ghost commented on #17
ok. i disabled all of my servers without bungee and hub. hacker still can hack my server

example. hacker join ( without login ) on my account to server and use `/end` command
sarver has down! so easy. you can fix this? very please.

[2018-01-03 14:34] sgdc3 commented on #17
Please, post your bungee config (remove ip and ports) Also include your hub spigot.yml and your authme config.yml (remove mysql credentials)

[2018-01-03 15:17] ghost commented on #17
see in timings
`https://timings.aikar.co/?id=96dbb0db1f1b4fadb483f8f853e61f51#config`

bungee config
[code]

authme config
[code]

[2018-01-03 22:03] sgdc3 commented on #17
Server list is case sensitive, you need to call it Hub not hub @KonoromiHimaries

[2018-01-03 22:14] ghost commented on #17
it's work, thx : D

[2018-01-03 22:50] #17 closed, assigned to nobody

[2018-01-06 06:00] cocomine opened #18 "Cannot block bungee command"
Can still use the bungee command without logging in

[code]

[code]

[2018-01-06 10:59] sgdc3 commented on #18
have you enabled bungeecord in your spigot config?

[2018-01-07 07:11] cocomine commented on #18
Of course, there are enabled

[2018-01-07 07:11] cocomine commented on #18
Sorry for late

[2018-01-13 16:34] dyanakiev opened #19 "abreloadproxy"
Reload is not working..

java.lang.NullPointerException: null
at fr.xephi.authmebungee.commands.BungeeReloadCommand.execute(BungeeReloadCommand.java:22) ~[?:?]
at net.md_5.bungee.api.plugin.PluginManager.dispatchCommand(PluginManager.java:168) ~[proxy.jar:git:Waterfall-Bootstrap:1.12-SNAPSHOT:82e5f37:164]
at net.md_5.bungee.api.plugin.PluginManager.dispatchCommand(PluginManager.java:115) ~[proxy.j

[2018-01-14 19:44] sgdc3 commented on #19
Thank you

[2018-01-14 19:44] #19 closed, assigned to nobody

[2018-01-14 22:52] DarkFort opened #20 "Hiding messages when changing to another server"
Hiding messages when changing to another server.
Hide these messages:
You have successfully logged into the server!
Session saved!

...and so on

[2018-01-20 13:57] cocomine commented on #18
hello?

[2018-01-20 16:07] sgdc3 commented on #18
Could you try with the latest authmebungee dev build? https://ci.xephi.fr/job/AuthMeBungee/

[2018-01-21 18:16] ljacqu commented on #20
Relates to https://github.com/AuthMe/AuthMeReloaded/issues/1426

[2018-01-27 12:53] leoncp9 commented on #12
chatRequiresAuth: true
correct is
chatRequiresAuth: false
set this false for enabled other command

[2018-02-06 15:44] minecraft7net opened #21 "RedisBungee compatibility"
[16:41:46] [main/INFO]: Enabled Waterfall version git:Waterfall-Bootstrap:1.12-SNAPSHOT:87b23b8:165
laterst waterfall build / b165

[16:41:46] [main/INFO]: Loaded plugin AuthMeBungee version 2.0.1-SNAPSHOT by null
[16:41:47] [main/INFO]: Enabled plugin AuthMeBungee version 2.0.1-SNAPSHOT by null

https://pastebin.com/gZDyG9d6

"..."
[10:30:24] [Netty Worker IO Thread #0/WARN] [global]: Error dispa

[2018-02-06 15:46] minecraft7net commented on #21
and my environment is:

2 x bungeecoord with redisbungee + authmebungee + fastlogin
2 x authservers with authme

[2018-02-06 20:58] sgdc3 commented on #21
The plugin isn't compatible with redisbungee atm

[2018-02-06 21:22] minecraft7net commented on #21
env update

bungeecord:
[19:26:11] [main/INFO]: Loaded plugin FastLogin version 1.11-e5e815a by games647, https://github.com/games647/FastLogin/graphs/contributors
AuthMeBungee - curently disabled - waiting for redisbungee support

spigot authservers:
[20:05:58] [Server thread/INFO]: [AuthMe] Loading AuthMe v5.5.0-SNAPSHOT-b1969

[2018-02-06 22:41] LudnicaKiller opened #22 "AuthMeBridge for BungeeCord1.6.2"
Hello,
Bungeecord server version: http://prntscr.com/ib4elb
Spigot server version: http://prntscr.com/ib4ivc
Plugin version: AuthMeBridge for BungeeCord 1.6.2

I'm getting some errors:
https://pastebin.com/bph91JYy
https://pastebin.com/xAkzVcwb
https://pastebin.com/57Lg5u5N
https://pastebin.com/0DRharF5

[2018-02-07 02:30] sgdc3 commented on #22
this isn't authmebridge, this is authmebungee, a complete rewrite of authmebridge, please download our latest dev build at https://ci.codemc.org/job/AuthMeBungee/

[2018-02-07 02:31] #22 closed, assigned to nobody

[2018-02-07 02:31] sgdc3 commented on #22
open a new issue if you get any error using authmebungee

[2018-02-20 13:48] cocomine commented on #18
I'm Sorry for late
I will try.
But my server is being reworked

I will close the issue first
If there are still problems I will return

[2018-02-20 13:48] #18 closed, assigned to nobody

[2018-03-17 13:06] ItzRonaldMLG commented on #20
I connetced my bungeecord server now, but now if i go back to the lobby server i see this:
http://prntscr.com/isg4j1
- i was longer than 1 minute(Cache) away
- 2 messages that are saying i already logged in but its just going back to the lobby...
Can you fix this problems please?

[2018-04-19 23:01] ExerciseBook opened #23 "May I translate the introduction of this plugin to mcbbs？"
With a lots of people asked me about how to share the login session through the server under a bungeecord. I want to thanslate the introduction of this plugin to mcbbs.net .
Before my translation may I take your permission?

[2018-04-20 06:29] sgdc3 commented on #23
We are under GPL3 license: https://github.com/AuthMe/AuthMeBungee/blob/master/LICENSE

[2018-04-20 06:30] sgdc3 commented on #23
What do you mean with "translate the introduction"?

[2018-04-20 06:30] sgdc3 commented on #23
the documentation?

[2018-04-20 10:24] ExerciseBook commented on #23
the way to use.

[2018-04-21 00:07] sgdc3 commented on #23
sure, maybe link the original wiki/documentation also ;)

[2018-04-21 00:07] #23 closed, assigned to nobody

[2018-04-22 14:13] ExerciseBook commented on #23
Maybe @polarcn will translate it.
加油，如果你(polarcn)没空的话我再帮你翻译吧。
我在到高考之前，只有五一有时间了。

[2018-04-22 14:31] polarcn commented on #23
我在五一期间搞定吧，如果你想占坑的话那也没关系咯*。٩(ˊωˋ*)و✧

[2018-04-22 14:47] ExerciseBook commented on #23
虽然好久没在mcbbs~~水~~发过贴了，我很想占。
但是我两年多没碰过mcserver了。。貌似有点悬，还是您翻译吧。 我也没时间去捣鼓。您去弄吧！

加油！回头给你回帖点并评分。

[2018-05-07 19:24] o0Julia0o opened #24 "Exception encountered when loading plugin: AuthMeBungee"
getting this at bungee-proxy #1310 starting authmebungee #2.0.2:

[code]

[2018-05-08 06:07] sgdc3 commented on #24
please post your config, it is invalid

[2018-05-08 08:28] o0Julia0o commented on #24
Thank you. I changed:
unloggedUserServer: '
to
unloggedUserServer: ''
-> now it´s working.

[2018-05-08 08:28] #24 closed, assigned to nobody

[2018-07-04 09:19] MatinHQ opened #25 "critical bug"
hello, all work fine but there is big problem if you install litebans plugin under bungeecord players can come with admin commands and stay use command's without login (/ban,/unmute,....)

[2018-07-05 06:44] TerZer opened #26 "AuthPlayer is not checked for null"
Error I am getting:

[code]

[2018-07-05 14:25] #26 closed, assigned to nobody

[2018-07-05 16:59] DNx5 opened #27 "Automatically Obtain List of Auth Servers"
We could do this by broadcasting authme message to every server, the server which has AuthMe installed should response to this message.

[2018-07-06 23:28] sgdc3 commented on #25
Could you try with the dev build? https://ci.codemc.org/job/AuthMe/job/AuthMeBungee/

[2018-07-06 23:29] sgdc3 commented on #27
A little overkill, i don't think this would be helpful...

[2018-07-08 23:58] #25 closed, assigned to nobody

[2018-08-27 15:31] DarkFort opened #28 "Chat problem"
After the last update of the plugin, it became impossible to write anything to the chat, neither the command nor the message.

[2018-08-27 15:40] DarkFort commented on #28
Sorry, it's my fault.

[2018-08-27 15:40] #28 closed, assigned to nobody

[2018-08-27 22:29] sgdc3 commented on #28
@JH3Y50N please stop advertising your plugin here, AuthMeBungee is the only official bungeecord addon.

[2018-08-29 18:26] DarkFort commented on #28
Now all is well, simply, the server specified the server Survival because of this and did not write anything in the chat.
![image](https://user-images.githubusercontent.com/25278617/44807394-22cad480-abd2-11e8-8b16-e51000234c03.png)

[2018-09-17 23:00] sgdc3 opened #29 "Fix the server connect logic"
Atm the plugin is broken as players are unable to join when serverSwitchRequiresAuth is enabled.

[2018-09-18 15:45] DarkFort commented on #20
I suggest making the parameter in the AuthMe config file. Add a "bungee mode" that would hide unnecessary messages and generally, optimize AuthMe under Bungee.

[2018-09-18 15:51] ItzRonaldMLG commented on #20
This plugin isnt supported anymore i think, the author isnt fixing any bugs while there are a few importand that have to get fixed.

[2018-09-19 00:23] sgdc3 commented on #20
@ItzRonaldLG what are you talking about? Today I fixed a mayor issue. Nobody complained about such bugs. @DarkFort Just found a possible ENHANCEMENT. instead of posting your issue there just open a new report, or your report will be IGNORED or even deleted. Thank you.

[2018-09-19 00:24] sgdc3 commented on #29
Fixed

[2018-09-19 00:24] #29 closed, assigned to sgdc3

[2018-09-19 08:40] ItzRonaldMLG commented on #20
Today?
It was reported like 6 monthes ago..
Not verry active plugin author, i already have another plugin becouse of the inactivity

[2018-09-19 08:46] sgdc3 commented on #20
It was ignored because you posted it in the wrong place, does it make sense to report a bug in an enhancement suggestion report? -_-

[2018-09-19 08:50] ItzRonaldMLG commented on #20
The other thread was the same problem and was longer ago posted and still took monthes to fix.
So its the same thing again, aothor is to inactive.

[2018-09-19 08:52] sgdc3 commented on #20
@ItzRonaldLG Which thread? This one? This isn't a bug report...

[2018-09-19 09:02] ItzRonaldMLG commented on #20
This thread is linked to the other thread from "DarkFort" he made the thread withe the same issue as i had, so i didnt response anymore here becouse it was already dealt with.
But like i said again i dont like inactive recources becouse they wont fix bugs.
This is my last message to this plugin, i have already a better one.
Bye.

[2018-09-19 09:06] sgdc3 commented on #20
@ItzRonaldLG bye, that's the respect you gain for maintaining free and opensource project, thank you, what an amazing community ;)

[2018-09-19 09:08] DarkFort commented on #20
@sgdc3,hmmm. I understand that you will not do anything from what I wrote because the issue is not published there?

[2018-09-19 11:16] sgdc3 commented on #20
@DarkFort i was talking to @ItzRonaldLG because he reported a different issue, not strictly related to this one

[2018-09-21 05:59] sadoj-kuro opened #30 "require login again after switch"
I have 2 server or according to works very well however with my server in 1.13.1 it asks again to login.
i have setting server correcly and adding in config of plugin bungee

Authmereloaded: 5.5.0
Authmebungee: 2.0.2 (Maybe need a update plugin for working with 5.5.0 ?)
i have testing authmebungee 2.1.0 (dev build) with authmeReload 5.5.0 and dont working

authme config: https://hastebin.com/xosap

[2018-09-21 10:19] sgdc3 commented on #30
You have to use the latest authmebungee build

[2018-09-21 13:24] sadoj-kuro commented on #30
Tested with 2.1.0 and 5.5.0 not working

[2018-09-21 20:05] sgdc3 commented on #30
This one? https://ci.codemc.org/job/AuthMe/job/AuthMeBungee/

[2018-09-21 20:06] sgdc3 commented on #30
Use both latest builds of both AuthMeBungee and AuthMeReloaded (https://ci.codemc.org/job/AuthMe/job/AuthMeReloaded/)

[2018-09-21 23:19] sadoj-kuro commented on #30
yes and yes using lasted version of AuthMeBungee and AuthMeReloaded  with codemc link

dont working

[2018-09-22 12:34] sgdc3 commented on #30
@KuroSenseii I tested it on a test environment, i wasn't able to reproduce your issue, could you share the plugin list?

[2018-10-21 17:18] Mario359 commented on #30
I have the same issue with AuthMe 5.5 build:2138 with PaperSpigot 1.13.1 and BungeeCord
I have enabled bungeecord in the configuration, and I use MySQL as a database for all servers
A player told me about an error message the very first time he switched
But nothing in the console at this time, no more information
Before I used FastLogin, but sometimes it made players invincible when switching (The

[2018-10-21 22:29] sgdc3 commented on #30
@Mario359 which authmebungee version are you using?

[2018-10-28 07:29] cocomine commented on #18
latest update
is work now

[2018-10-28 14:44] Mario359 commented on #30
Actually AuthMe 5.5 #2149 on all Paper 1.13.2 servers and AuthMe-Bungee 2.1 #83 for BungeeCord
AuthMe-Bungee configuration:
[code]

[2018-10-30 17:32] QuickGlare opened #31 "Login doesn't work"
Hi,
I'm using AuthMeBungee(latest dev build) and AuthMe(latest dev build)

Config of AuthMeBungee - https://pastebin.com/2eDXG4JC
Config of AuthMe - https://pastebin.com/yXwMV4bV
Config of Waterfall - https://pastebin.com/951phq42

After the login i can't execute any command, how i can resolve this problem?

[2018-10-30 20:45] #31 closed, assigned to nobody

[2018-11-18 22:09] Cubey03 opened #32 "Send the player to the lobby even if the password is wrong during login."
I investigated all day to find the solution to this problem but nothing, so I came to the conclusion that it is an AuthMe Bug. If you type "/ login <random password> (ex. / Login nutellahdjdjdhjs)" while your password is 'sweatshirt', you will be teleported to the server you chose when the player should be sent after login

[2018-11-18 22:11] krusic22 commented on #32
What version (Bungee, AuthMe, AuthMeBungee, Spigot) are you using?
Do you have multiple lobbys?
Do you use MySQL?
Do you use sessions?
And did you try disabling caching?

[2018-11-18 22:22] Cubey03 commented on #32
I'm using AuthMe 5.4.0 on a PaperSpigot server. I have one lobby server. I don't use MySQL and Yes, I'm using sessions. I haven't tried to disabling chaching.

[2018-11-20 07:30] sgdc3 commented on #32
Please download tge latest builds of AuthMe and AuthMeBungee, try disabling caching or using mysql instead of sqlite.

[2018-11-20 07:52] Guest1131 opened #33 "Errore java last build : 2170"
Hi, there,

Using spigot 1.12.2

I have updated authme to the last build: 2170, and no longer appears the login screen, and appears this error in java in the console:

 at fr.xephi.authme.libs.com.google.common.cache.LocalCache.get(LocalCache.java:3952) ~[?:?]
        at fr.xephi.authme.libs.com.google.common.cache.LocalCache.getOrLoad(LocalCache.java:3974) ~[?:?]
        at fr.xephi.authme.libs.c

[2018-11-20 08:10] sgdc3 commented on #33
hmm yeah something has changed in the guava library, i'll take a look at it. Use the previous build in the meantime.

[2018-11-20 22:06] DaveDevil opened #34 "WARNING: AuthMeBungee bypass!!!"
Hello. We have been griefed because a severe exploit in BungeeCord and AuthMeBungee.

Here's a description of how they did it:

Utilize an external BungeeCord server. You can bypass the "cannot proxy to it self" by utilizing build 1000.

In the server list, put a "lobby" with authme and authmebridge, and the one you want to connect to.

enter in your lobby from your bungeecord, and do /server serv

[2018-11-20 22:21] sgdc3 commented on #34
@DaveDevil AuthMeBungee is immune to this issue, we already talked with the ones who "discovered" the issue, and it only works with plugins such as "AuthMeBridge" or other outdated ones.

[2018-11-20 22:21] #34 closed, assigned to nobody

[2018-11-20 22:23] DaveDevil commented on #34
I am using latest AuthMeBungee...

[2018-11-20 22:26] sgdc3 commented on #34
Where did you download it? Do you have your firewall correctly setup?

[2018-11-20 22:39] DaveDevil commented on #34
downloaded from spigot, the firewall accepts only from the 25565, and all other ports are negated.

I asked in the spigot forums too, and they said "bungee part of that plugin is programmed without neccessary checks, making it vulnerable."

[2018-11-20 22:45] sgdc3 commented on #34
@DaveDevil please use the latest builds of both AuthMe (https://ci.codemc.org/job/AuthMe/job/AuthMeReloaded/) and AuthMeBungee (https://ci.codemc.org/job/AuthMe/job/AuthMeBungee/) and double check your firewall setup.

[2018-11-20 22:46] sgdc3 commented on #34
could you please link the spigot discussion?

[2018-11-20 22:47] DaveDevil commented on #34
here it is:

https://www.spigotmc.org/threads/bungeecord-severe-authentication-exploit.348233/

and here's the github issue opened by who found that problem. bungeecord programmers said that's not a bungee problem, but a single plugin problem:

https://github.com/SpigotMC/BungeeCord/issues/2545#issuecomment-439727108

[2018-11-20 22:48] Janmm14 commented on #34
Discussions:
https://www.spigotmc.org/threads/bungeecord-severe-authentication-exploit.348233/
https://github.com/SpigotMC/BungeeCord/issues/2545

Edit: You might want to release an update on spigotmc soon?
Edit 2: Rip he was faster xd

[2018-11-20 22:54] sgdc3 commented on #34
@Janmm14 even the older releases are immune to this type of attack

[2018-11-20 22:57] sgdc3 commented on #34
People, stop confusing AuthMeBUNGEE with AuthMeBRIDGE they are completely different plugins!
AuthMeBUNGEE is the only OFFICIAL addon for Bungee, and it has been immune from this type of exploit since years

[2018-11-20 22:59] DaveDevil commented on #34
I am using AuthMeBungee version 2.0.2-SNAPSHOT by AuthMeTeam and BungeeCord-Bootstrap:1.13-SNAPSHOT:c26705e:1368

[2018-11-21 08:14] #33 closed, assigned to nobody

[2018-11-29 19:53] Lachney opened #35 "Clients 1.6 and below issue"
Using ProtocolSupport and ProtocolSupportBungee. (This plugin supports clients from 1.4.7 - 1.13.2)
Using latest versions of AuthMe and AuthMeBungee. Using MySQL and Caching disabled. If you are a client on 1.6 and below, you are authenticated (if it does it for you automatically) however, you can't chat or use any commands still and it doesn't teleport you to servers. I'm not sure if you'll fix t

[2018-11-29 19:54] krusic22 commented on #35
Does it work for 1.13.x users?

[2018-11-29 21:46] Lachney commented on #35
It sure does :P
@krusic22

[2018-12-05 03:20] #30 closed, assigned to nobody

[2018-12-05 07:19] sgdc3 commented on #30
@KuroSenseii did you manage to fix the issue?

[2018-12-05 10:12] DaveDevil commented on #34
I'm sorry I forgot to update this post.

I really thank @sgdc3 for his support, in the end it was my fault.

I had an old version of authme bridge in the hub, that I thought it was inactive because the bungee plugin was absent. But the "external" bungee was able communicate with it, creating the exploit.

I do conferm that authmebungee is immune to the exploit!

[2018-12-29 13:18] Mario359 opened #36 "AuthMe Bungee: Auto login does not work"
Hello, my problem is that I can't get the auto login to work on my main servers
On my test servers, no problem, the only difference between them is that I don't use a MySQL database on my test servers
I have disabled the DB cache and enabled the Bungeecord hook on all my servers

Minecraft 1.13.2, Paper 488 & Waterfall 244
AuthMe 5.5.1-b2189 & AuthMeBungee 2.1.0-b92
config.yml AuthMeBungee:
[code]

[2019-01-13 23:54] osmelpv commented on #36
TESTED
autoLogin: true

AuthMeBungee-2.1.0-SNAPSHOT still doesn't work with autoLogin, tested with last version Spigot and last version paper. (1.13.2)

[2019-01-15 06:51] sgdc3 commented on #36
Can we take an appointment on discord to remotely check your setup? There are too many variables in bungee environments to guassing a possible cause to your issues.

[2019-01-15 07:19] osmelpv commented on #36
OK, thank you, this will be a pleasure. Right now i am in travel, give me
your discord or something where i can contact to you in 20 hours or less
from my laptop.

El mar., 15 ene. 2019 a las 0:51, Gabriele C. (<notifications@github.com>)
escribió:

--

Sincerely
Osmel Perez
cel: (512) 792-0988

[2019-01-15 08:22] sgdc3 commented on #36
This is our official discord server: https://discord.gg/Vn9eCyE
I should be around in 5 to 6 hours from now :)

[2019-01-21 01:44] bundabrg commented on #36
I have the same issue.
* AuthmeBungee Build 109
* AuthMeReloaded 5.5.1-SNAPSHOT build 2200
* BungeeCord build 1372 (Latest today is 1392 but its causes issues with another plugin due to getIntent() change in LoginEvent)
* Backend Server: PaperMC build 402 (1.13.2)

[2019-01-22 19:05] sgdc3 commented on #36
@Mario359 @osmelpv are you still experiencing the issue?

[2019-02-04 08:46] Mario359 commented on #36
I don't know, I changed my authentication method with a server to register
I'll try to retest by changing plugins

[2019-02-06 08:44] myavuzokumus commented on #36
I have to same problem.

[2019-02-11 19:38] SliderKP commented on #35
use 5.4.0 authme dev and work for now... im not 100% sure if u server are secure S: im with the same problem.

[2019-02-11 20:39] SliderKP opened #37 "Problem ProtocolSupport?"
SAME PROBLEM THEN https://github.com/AuthMe/AuthMeBungee/issues/35

Bungee + AuthMeBungee
Spigot + AuthMe-5.5.1-SNAPSHOT.jar + Protocol Support

Users CANT move and use commands, works in Authme 5.4.0 but im not 100% sure if my server is secure!

[2019-02-11 23:33] sgdc3 commented on #37
Duplicated

[2019-02-11 23:33] #37 closed, assigned to nobody

[2019-02-24 15:51] matbcvo opened #38 "delete"
sorry, my fault.

[2019-02-24 15:59] #38 closed, assigned to nobody

[2019-03-02 11:16] bundabrg commented on #36
I'll just add that running the latest AuthMeReloaded and AuthmeBungee works fine now with autologin.

I additionally made a minor change to my version in that `serverSwitchRequiresAuth` is not checked at the beginning of BungeePlayerListener#onPlayerConnectToServer but later in that method because I want player who don't have a registered account to be able to switch servers but still force player

[2019-03-02 17:39] #36 closed, assigned to nobody

[2019-04-17 08:26] DDuart opened #40 "Auth Servers"
Hello,

can you add way to create all servers as Auth Server?
just create setting like `requireAuthOnEveryServer: true/false`

[2019-04-18 23:35] #40 closed, assigned to sgdc3

[2019-04-18 23:35] sgdc3 commented on #40
Done, thank you ;)

[2019-04-18 23:36] sgdc3 commented on #27
We can't achieve this with plugin messaging, closing.

[2019-04-18 23:36] #27 closed, assigned to nobody

[2019-04-18 23:37] sgdc3 commented on #12
Outdated, closing.

[2019-04-18 23:37] #12 closed, assigned to nobody

[2019-04-18 23:37] sgdc3 commented on #32
@Cubey03 any news?

[2019-04-18 23:38] sgdc3 commented on #35
@Lachney any news?

[2019-04-22 04:36] Betob89 opened #41 "NOT BLOCKING BUNGE COMMANDS"
Hi the last version no block bungecoords commands,

[2019-04-22 04:37] Betob89 commented on #41
And i have on spigot bungecoord true and authme hook bungecoord true.

[2019-04-22 04:46] krusic22 commented on #41
What version of AuthMe and AuthMeBungee do you have (exect versions)?

[2019-04-22 04:56] Betob89 commented on #41
The last version of authme on spigot and authmebunge on spigot.

[2019-04-22 04:58] Betob89 commented on #41
Authmebungee 2.2.0-beta
 Authme 5.6.0-beta1

Another version of authmebungee the last not workin the same problem. Im using the last version of bungeecoord.

[2019-04-22 09:30] sgdc3 commented on #41
@Betob89 pls post your configuration files

[2019-04-22 20:00] Lachney commented on #35
Hey there, I did some testing with the latest builds... I wanted to let you know that AuthMe was working correctly with older clients connecting to a 1.13.2 server with ProtocolSupport... I didn't test it with AuthMeBungee. But I noticed when switching servers on 1.6 and below with bungee and protocolsupport gives you a End of Stream error, I don't believe it's nothing to do with AuthMe at all so

[2019-04-22 22:00] Betob89 commented on #41
[code]

[2019-04-23 13:28] sgdc3 commented on #41
Pls send your AuthMe configuration file

[2019-04-25 03:08] Betob89 commented on #41
[code]

[2019-04-25 07:55] sgdc3 commented on #41
@Betob89 pls make an example of commanda you are able to run

[2019-04-26 22:20] Betob89 commented on #41
/cmd

[2019-04-26 22:21] Betob89 commented on #41
/cmd is a command of another plugin on my bungecoord server. are in bungecoord plugins.

[2019-04-26 22:25] sgdc3 commented on #41
pls tell me the plugin, probably it is doing something bad...

[2019-04-27 22:12] Betob89 commented on #41
https://www.spigotmc.org/resources/bungee-command-block.5935/

[2019-04-27 22:13] Betob89 commented on #41
This as example because not block another plugins. Example plugin litebans not block ban commands etc. Im using that plugin to block the commands on bunge.

[2019-05-03 04:13] Betob89 commented on #41
?

[2019-05-03 07:38] sgdc3 commented on #41
It works as expected on my end, you probably have a configuration issue, please join our discord server o we can try to find the root cause of it.

[2019-05-03 07:40] sgdc3 commented on #41
https://discord.gg/Vn9eCyE

[2019-05-03 07:40] #41 closed, assigned to nobody

[2019-07-09 05:12] robbiemcleod56 opened #47 "Commands don't work at all on any server, but they will if I set commands: requireAuth: to false."
I have no idea what the problem is, I've done a lot of searching and even went through old issue reports here to find some lead. I have bungee hooks enabled in AuthMeReloaded.

I am running AuthmeReloaded 5.6.0-SNAPSHOT on my 1.14 server, and 5.4.0 release on all the other servers.

On my BungeeCord (v Waterfall-Bootstrap:1.14-SNAPSHOT:1f16030:286) instance, I'm running AuthMeBungee 2.2.0-beta1, B

[2019-07-09 05:41] robbiemcleod56 commented on #47
Update: It ONLY seems to stop commands on the hub server, and ONLY when joining, whether you're logged in or not. As soon as you switch servers, it allows commands again, and even switching back to hub allows you to enter them again. But leave, join, then try commands, and it won't work. Here is some more of my authme config to help aid you. I think this may have to do with the timeout of a few ho

[2019-07-09 08:49] robbiemcleod56 commented on #47
I feel very embarrassed by this and to have spent so much time trying to figure it out, but I realized as players joined, certain people would complain about not being able to leave the server they entered (no /hub) but everyone in survival was fine and that's where I connected and went back to hub to test if commands would work. Sure enough, only after anyone went on survival specifically, comman

[2019-07-09 08:49] #47 closed, assigned to nobody

[2019-12-08 13:24] Leodragon08 opened #52 "AuthMe does not connect with AuthMeBungee"
I Follow this guide:

Download AuthMeBungee package
Place AuthMeBungee.jar into your BungeeCord's plugin folder
MAKE SURE THAT hooks.bungeecord is enabled in your authme (spigot side) config file!
Restart everything
Configure the plugin (don't forget to edit the configuration file)
Enjoy!

I have 2 problems:

1. I can't find the hooks.bungeecord string, I find this:

# Do we need to hook with Bung

[2019-12-08 13:26] krusic22 commented on #52
Make sure to use the latest AuthMe and AuthMeBungee builds from Jenkins/Build server.

[2019-12-08 17:56] Leodragon08 commented on #52
Now I download the files from Jenkins.

[2019-12-08 18:04] Leodragon08 commented on #52
I downloaded the files from Jenkins but they are not detected? The config is not created.

[2019-12-10 19:18] Leodragon08 commented on #52
I fix, thanks.

[2019-12-10 19:18] #52 closed, assigned to nobody

[2020-01-12 03:33] bundabrg opened #54 "Access to Privileged BungeeCord Commands"
If `requireAuth` is `false` then a player can log in with another player and access privileged bungeecord instructions (IE, `glist`) without needing to log in.

This is prevented by setting `requireAuth` to `true` but now players with no registered accounts can't do anything outside the whitelist. I could update the whitelist with every command an unauth player is likely to need but that has other

[2020-01-16 20:54] Patbox opened #56 "Support for forced hosts"
Just a support for bungee forced hosts.
It should look like this:
- Player connects to fb.example.net (let's say Freebuild server).
- Redirect the unlogged player to the selected login server (with authme).
- After login, redirect player to freebuild server.

[2020-04-17 02:38] wcyap1027 opened #61 "Cannot access command after logging into force-host"
Hi , after doing /login password, we cannot do any commands in the lobby

[2020-04-26 03:55] Untitled opened #62 "AuthmeBungee didn't realized if I logined and blocked me from talking or commands"
I did all I see in readme, put this plugin into bungeecord plugins/ and my authme was installed on 'lobby' server.
I changed config.yml of AUTHME: Hook.bungeecord=true.
when I tried to login, I succeeded but I couldn't talk or use commands.It just looked like that AuthmeBungee thinks I didn't login.
How can I fix this problem?I tried many times fixing config.yml for Authme and AuthmeBungee,but it

[2020-04-26 04:01] Untitled commented on #62
[configs.zip](https://github.com/AuthMe/AuthMeBungee/files/4534591/configs.zip)
config.yml of AuthmeBungee and Authme

[2020-04-26 04:01] Untitled commented on #62
`
# List of servers which required to be authenticated
authServers:
- 'lobby'
commands:
    # Allows or not commands to be performed if user is not logged in
    requireAuth: true
    # List of commands allowed to be perform without being authenticated
    whitelist:
    - '/login'
    - '/register'
    - '/l'
    - '/reg'
    - '/email'
    - '/captcha'
# Allows or not user to talk in chat if he

[2020-05-03 18:32] Bloedarend opened #63 "AuthMeBungee doesn't block commands / autologin doesn't work"
I'm using Waterfall and Paper Spigot, and these are the versions of AuthMe that I use:
- AuthMeBungee 2.2.0 SNAPSHOT
- AuthMeReloaded 5.6.0 SNAPSHOT.

My spigot server named 'auth' has the AuthMeReloaded plugin. So I edited the config on bungeecord to this:
`# List of servers which required to auth servers`
`authServers:`
`- auth`
I have also enabled `requireAuth: true` and `autoLogin: true`.

Whe

[2020-05-05 00:19] WilliamEstrela commented on #63
I have the same problem, have you solved it?

[2020-05-05 13:36] Bloedarend commented on #63
Nope, still waiting for support :/

[2020-05-06 22:49] AntiRemedy commented on #63
I had the same problem, it is related to Paper Spigot. I avoid the bug by using an older version of it. I have tested multiple versions and one that works with autologin between servers is build 212. So you could use that instead of the latest one. You could also use the latest version of normal Spigot.

[2020-05-07 14:18] Bloedarend commented on #63
I'm assuming you're using Paper Spigot 1.15.2? Because I'm currently using 1.12.2 Paper Spigot, which is build 1618. I don't really want to switch to the regular Spigot, so do you by any chance, know if there's a way to get this to work on 1.12.2?

[2020-05-07 14:56] Bloedarend commented on #63
Also tried setting up my server with paper for 1.15.2, just using luckperms and AuthMeReloaded, and I could still use bungeecord commands while not authenticated.

[2020-05-07 15:21] AntiRemedy commented on #63
Yes, I'm using Paper 1.15.2. But I just tested the version you are using and it works with just Protocollib, AuthMe and AuthMeBungee. Which versions of Waterfall, AuthMeBungee 2.2.0 SNAPSHOT and AuthMeReloaded 5.6.0 SNAPSHOT are you using exactly? I used the latest development builds of each.

[2020-05-16 18:32] luwdev-br commented on #63
I'm having problems with "auto-login" too, any prediction of when this error will be fixed? :(

[2020-05-18 15:18] kekke3r commented on #63
I am experiencing this issue too, for now i'm keeping a older version of Paper to keep the auto-login working.

[2020-05-18 15:45] luwdev-br commented on #63
which version are you using?

[2020-05-18 16:07] Sylensky commented on #63
This server is running Paper version git-Paper-201 (MC: 1.15.2)
- This one works for me.

[2020-05-18 18:21] kekke3r commented on #63
I'm still on Paper Build 196 1.15.2

[2020-05-19 22:46] Eboleh opened #64 "Totp qr code not scanning"
Totp qr code not scanning, bug or i skipped something in config??

[2020-05-19 23:02] Eboleh commented on #64
Oh, I messed up the page

[2020-05-24 07:26] fsosaaa commented on #63
already solved?

[2020-05-25 15:25] bobhenl opened #65 "Prelogin warn"
Hello, how to fix this prelogin warn, isn't it from Authmebungee?
[code]

[2020-05-26 10:46] iverly opened #66 "Multiple bungeecord support"
Hi,

When I use multiple instances of bungeecord connected to the same authentication server. The first player was able to speak and execute commands. But for other players on different instances of bungeecord, they will not be able to speak or execute commands even after / login.

How can I fix this ?

Thanks

[2020-06-05 18:37] Asgardia23 commented on #63
the problem still persists. tried everything. doesnt work.

[2020-06-22 08:00] brukin opened #68 "Authentication required."
AuthMeBungee config

# List of servers which required to be authenticated
authServers:
- lobby
# Consider every server as an auth server
allServersAreAuthServers: false
commands:
    # Allows or not commands to be performed if user is not logged in
    requireAuth: true
    # List of commands allowed to be perform without being authenticated
    whitelist:
    - /login
    - /register
    - /l

[2020-06-25 07:04] #64 closed, assigned to nobody

[2020-07-08 13:46] SeptyIsHere opened #71 "Velocity implementation"
Can you make AuthmeBungee work for this standalone of bungeecord: https://www.velocitypowered.com/downloads

[2020-07-19 11:02] yashendra2797 commented on #63
Any idea what's going on?

[2020-07-20 08:36] arturek1666 commented on #63
Same issue here :(

[2020-07-20 17:55] cicatrice74 commented on #63
You need to use Protocolsupport to solve this issue until it is fixed by developer

[2020-07-20 19:10] Sylensky commented on #63
i just tested it with paper-378 and it is valid. so i guess some protocols get lost in the latest paper builds or in authme.

[2020-08-04 00:04] Misterio77 commented on #63
Same issue, Paper-131 1.16.1

[2020-08-06 13:32] africsnail commented on #63
Same issue on my paper 1.16.1 server.
Running latest devbuilds of both Authme and Authmebungee.

Had this issue since some build of paper 1.15.2

[2020-08-10 12:54] d-513 commented on #56
I might be wrong but I think you could just install authme on the freebuild server and enable autologin in authmebungee.

[2020-08-16 00:49] wallxq commented on #63
Please update this for autologin.

[2020-09-02 14:35] MastoryMd5 commented on #66
I think you will not :(

[2020-09-10 14:44] wallxq commented on #63
When was update for autologin?

[2020-09-10 14:44] wallxq commented on #63
When will be the update?

[2020-10-04 17:06] Baterka opened #77 "Description of how to setup this properly with Auth server and Lobby server"
Hi, Is there anyone who can describe for me (and possible for others) how to properly setup AuthMe and AuthMeBungee to achieve following behavior?

**Servers:**
- Bungeecord Proxy - AuthMeBungee installed
- Spigot "Auth" - AuthMe installed
- Spigot "Lobby" - possibly AuthMe installed? (But dont login again!)
- Other Spigot servers like "Survival", "Skyblock", "Bedwars", ...

**Workflow:**
1. Playe

[2020-10-15 00:20] #65 closed, assigned to nobody

[2020-10-18 23:24] zSteley commented on #63
same problem, please fix autologin

[2020-10-23 08:37] robbiemcleod56 opened #78 "Something wrong with metrics classes."
Pulled the repo and compiled it, and received this error.
Using latest Waterfall #380.
Authme build: https://github.com/AuthMe/AuthMeReloaded/commit/782f226a2740ba2fdf236a0397d071c8c0da259e

[04:04:59] [main/WARN]: Exception encountered when loading plugin: AuthMeBungee
java.lang.ExceptionInInitializerError: null
	at fr.xephi.authmebungee.AuthMeBungee.onEnable(AuthMeBungee.java:60) ~[?:?]
	at net.

[2020-12-14 05:04] 7wOv6ySCjo commented on #71
Yes !! we need AuthMeBungee for Velocity by the official team of AuthMe. @sgdc3

[2021-01-02 22:56] LucidAPs commented on #71
Please add Velocity support.

[2021-01-10 20:12] 7wOv6ySCjo commented on #71
Yes.

[2021-01-17 01:42] 7wOv6ySCjo commented on #71
Please, we need a port to VelocityPowered Proxy of this. Urgently.

[2021-01-17 11:19] ghost commented on #71
Bump

[2021-01-18 13:40] 7wOv6ySCjo commented on #71
Bump.

[2021-01-20 06:17] 7wOv6ySCjo commented on #71
.

[2021-01-27 01:22] bobhenl opened #82 "Session saving even when player is on bungeecord"
Hi, what about feature that session will not be counted from (so if there's 30 min session, then when player is on network, it still will be 30 and cooldown will starts after he leaves NOT after he leaves AUTH server) the time he leave whole network, not just auth server?

Will be better for us to prevent account stealing cause we wouldn't have to set BIG session numbers if players just wanna relo

[2021-01-27 15:23] 8bitFra commented on #62
Did you solve the problem?

[2021-01-28 17:41] bobhenl commented on #63
8 months...

[2021-01-31 11:49] filasik commented on #63
so what?

[2021-02-11 21:46] x9nico opened #84 "Add Velocity support"
Hello, it could be cool to add support for Velocity :)

[2021-02-11 21:47] #84 closed, assigned to nobody

[2021-02-11 21:57] x9nico commented on #71
Hey!
I found a fork of AuthmeBungee for Velocity ! => https://github.com/MTM123/AuthMeVelocity

[2021-02-12 15:51] x9nico commented on #71
If you want the jar of AuthmeVelocity, there is ! @7wOv6ySCjo @MacacoLew @skbeh @SeptyIsHere
(It supports only 1.1.x versions)

[AuthmeVelocity.zip](https://github.com/AuthMe/AuthMeBungee/files/5972863/AuthmeVelocity.zip)

[2021-02-15 05:27] 7wOv6ySCjo commented on #71
Beware, the plugin has false positives with "Authentication required".
I myself have asked for such a fork to be made.

[2021-02-21 23:04] draand28 commented on #52
How did you fix it?

[2021-03-03 04:00] gbrxxl commented on #63
Has anyone the solution to the problem?

[2021-03-03 08:55] arturek1666 commented on #63
Nope :(, it fills like devs who worked on authme has disappeared, as no updates for 2 months now

[2021-03-17 14:51] maxspeed3006 commented on #63
Issue seems to be fixed: https://github.com/AuthMe/AuthMeReloaded/commit/b1e9b432944ecef98e0c08685bb23154f2cebb77

Just downloaded the latest AuthMe snapshot and autologin works.

[2021-03-17 16:29] filasik commented on #63
Thanks for info, ill try 😊 S pozdravem,Filip Škeřík Od: maxspeed3006Odesláno:středa 17. března 2021 15:52Komu: AuthMe/AuthMeBungeeKopie: Filip Skerik; CommentPředmět: Re: [AuthMe/AuthMeBungee] AuthMeBungee doesn't block commands / autologin doesn't work (#63) Issue seems to be fixed: ***@***.***Just downloaded latest AuthMe snapshot and autologin works.—You are receiving this because you commented

[2021-03-21 20:03] arturek1666 commented on #63
Finally :)

[2021-03-22 00:44] a8underscore commented on #71
this would be great

[2021-03-29 17:28] xEllesi opened #86 "Player needs to register on all servers"
So, i setup the server ip-foward true, bungeecord true (on spigot and configs on authme)
but players still need to register on all servers, what can i do to players only need to register on lobby?

[2021-04-08 22:40] sgdc3 commented on #66
Please try again, this should work as intended in the new beta version of authme + latest dev build of authmebungee 😄

[2021-04-08 22:42] sgdc3 commented on #21
Duplicate of #66

[2021-04-08 22:42] #21 closed, assigned to nobody

[2021-04-08 22:43] #32 closed, assigned to nobody

[2021-04-08 22:43] #35 closed, assigned to nobody

[2021-04-08 22:47] sgdc3 commented on #54
The issue should be handled spigot-side

[2021-04-08 22:47] #54 closed, assigned to nobody

[2021-04-08 22:49] sgdc3 commented on #61
We don't have enough info, might have been fixed by some old commit, please open a new issue if this still happens on latest dev builds.

[2021-04-08 22:49] #61 closed, assigned to nobody

[2021-04-08 22:50] sgdc3 commented on #62
Fixed in the latest authme dev builds

[2021-04-08 22:50] #62 closed, assigned to nobody

[2021-04-08 22:51] #63 closed, assigned to nobody

[2021-04-08 22:52] sgdc3 commented on #68
Invalid

[2021-04-08 22:52] #68 closed

[2021-04-08 22:54] sgdc3 commented on #77
This is the correct way to do this, if you have any more question join our Discord :)

[2021-04-08 22:54] #77 closed, assigned to nobody

[2021-04-08 22:55] sgdc3 commented on #78
Fixed in the latest dev builds

[2021-04-08 22:55] #78 closed, assigned to nobody

[2021-04-08 22:58] sgdc3 commented on #82
It would be a bit hard to do with the current authmebungee structure, for the moment you should use sessions (authme side) + autologin (authmebungee side)

[2021-04-08 22:59] sgdc3 commented on #86
For questions please join our Discord support channel :)

[2021-04-08 22:59] #86 closed, assigned to nobody

[2021-06-01 09:00] sebastiaannnn opened #88 "Auth me bungee"
I insstalled in on my bungee , and on spigot servers.

Enable auto login if switched from server
and on spigot enabled work with bungee
restarted serveral times
doesn't work
what to do?

[2021-06-01 20:54] MizukageMaTes commented on #88
I'm having the same problem, when I put it the first time it worked perfectly! However after restarting the server it asks for login on all servers ...
I have already redone the configuration and continue with the same problem!

I tested it on a server that I created from scratch and again the first time it worked perfectly, but after restarting the servers, it stopped working..

I noticed on this

[2021-06-16 19:07] ratfilled opened #89 "idk issue"
How can I put so that after the login it brings them to my server

[2021-06-17 07:58] sgdc3 commented on #89
in your authme (spigot side config) under the "hooks" section

[2021-06-17 07:58] #89 closed, assigned to nobody

[2021-06-17 14:57] ratfilled opened #90 "How can I teleport you to a server after login?"
I have tried looking in the settings but there is absolutely nothing

[2021-06-17 14:57] #90 closed, assigned to nobody

[2021-07-05 02:04] 4o4E opened #91 "Command cannot be used after login"
**What behaviour is observed:**
Command cannot be used after login. After entering the command, there is no response, and there is no message in the console. Other functions are normal.

**What behaviour is expected:**
Command can be use

**Steps/models to reproduce:**
1.login
2.use command

Plugin list:
AuthMe

**Environment description**
server:
Paper version git-Paper-"4e2f0be" (MC: 1.17) (Impl

[2021-07-08 18:20] Link0Darck commented on #91
I have the same problem as this person his brand authentication is required and I have activated this option (sessions) and the problem is that AuthMeBungee does not often take into account the sessions

thank you in advance for correcting the problem
`    sessions:
        # Do you want to enable the session feature?
        # If enabled, when a player authenticates successfully,
        # his IP

[2021-07-09 04:03] 4o4E commented on #91
Thank you for your reply, but I tried to switch the sessions option and found it didn't work

[2021-07-09 17:30] Link0Darck commented on #91
Hello, have you activated this option?
if so, deactivate it and test to see if your problem is solved
`serverSwitch:
    # Kick all players who switch servers without being authenticated (eg. plugin teleport)
    requiresAuth: false
    kickMessage: Authentification requise.
`

[2021-07-10 07:15] 4o4E commented on #91
I tried to switch, but it didn't work

[2021-08-01 13:33] Jakubk15 commented on #71
we definitely need this.

[2021-08-03 03:49] egekirohan opened #92 "hello"
hello

[2021-08-06 17:22] #92 closed, assigned to nobody

[2021-08-07 17:22] Explosion-Of-Generation commented on #91
have you hook authme with authmebungee?
I also experienced the same thing a few minutes ago

make sure 'bungeecord' which is in 'spigot.yml' file on your lobby server is active, and ip-forward which is in 'config.yml' on your bungeecord server is also active

after you make sure it's active change the command on the bungeecord server -> AuthMeBungee -> config.yml
[code]

don't forget to activate y

[2021-09-09 15:21] WongIong opened #94 "Sometimes not working"
I dont know how to represent that. It just happens sometimes.
When u switch servers, u have to login again. But it happens not all the times.

I have checked spigot Authme config, the hook is all enabled.

[2021-09-19 15:54] #94 closed, assigned to nobody

[2021-09-27 19:07] sgdc3 commented on #91
@4o4E @Link0Darck are you still experiencing the issue?

[2021-09-27 19:15] Link0Darck commented on #91
No

[2021-09-27 19:19] #91 closed, assigned to nobody

[2021-10-06 10:40] SueFox opened #95 "Conflict with "sessions" of authme"
I forgot to turn on BungeeCord mode

[2021-10-06 11:26] #95 closed, assigned to nobody

[2021-11-12 22:21] rautamiekka commented on #71
Absolutely !

There are plugins which support Velocity, so you can take a look at their code if necessary. Some of which:

- [LuckPerms](https://github.com/lucko/LuckPerms) has a separate Velocity binary.
- [SkinsRestorerX](https://github.com/SkinsRestorer/SkinsRestorerX) uses a single binary for all supported platforms.
- [Plan](https://github.com/plan-player-analytics/Plan) uses a single binary

[2021-11-25 23:58] MR-JACY opened #97 "Authentication required erra"
I need some help if anyone could help me I really appreciate it: I have a  bungeecord localhost server all my worlds are localhost  and my  database is localhost (Wampserver) any how everything was working until  I deleted one of my database called authme once I deleted it and reloaded my server I get this now witch is in the image that I'm showing now , so I turn off my server the I drop the data

[2021-12-14 13:39] ghost commented on #71
up

[2021-12-14 15:08] LucidAPs commented on #71
up!

[2022-01-09 15:07] Neeonn commented on #71
up

[2022-03-01 19:52] tsuinosky commented on #88
same here

[2022-03-06 17:14] Neeonn commented on #88
Hi! I was testing the new development build from @Hex3l and they seem to be working perfectly (he also added genuine velocity support builtin this plugin). I don't know when it will get released but I've been using them on my small server ever since to keep on testing.

[2022-06-07 19:54] compieter-gh commented on #71
up

[2022-06-07 20:08] krusic22 commented on #71
Already exists in the velocity-support branch.

[2022-06-07 20:19] LucidAPs commented on #71
The branch from 2 years ago with no current builds?

[2022-06-07 20:20] krusic22 commented on #71
2021 was last year.
And yes, you have to build it yourself.

[2022-06-07 20:24] LucidAPs commented on #71
That makes it really inaccessible for (I would argue) 99% of users, including my self. If we could at least get a jar to test it, that would be great.

[2022-06-07 20:26] krusic22 commented on #71
Directly copied from Discord:

Here: https://posili.me/randstuff/AuthMeBungee-2.2.0-velocity.jar
and: https://posili.me/randstuff/AuthMe-5.6.0-velocity.jar
Both updated to latest master (at the time), so you have all the latest changes + velocity.
Of course, 0 support with that.

[2022-06-07 20:28] LucidAPs commented on #71
From Discord? The authme discord?
Also thanks for the links.

[2022-06-07 20:29] krusic22 commented on #71
The AuthMe Discord linked in the readme.

[2022-06-09 15:49] hex3l commented on #71
Builds for that branch can be found here, if you run into issues/need infos on configuration steps for velocity you could try and send me a DM on discord.
https://ci.hex3l.net/job/AuthMereloaded/
I am pretty busy at the moment and this implementation needs at least one more feature and  polishing before being merged so it could take some time.

[2022-08-04 10:22] BingZi-233 commented on #91
The problem has appeared again

[2022-08-15 02:56] ColorsASD opened #112 "ProtocolLib 5.0.0, SessionLogin(AuthMe) and AuthMeBungee bug."
Hi. The "session" and "AuthMeBungee" do not work correctly with the new "ProtocolLib v5.0.0".

After SessionLogin, AuthMeBungee still thinks the player is not logged in.

Until this is resolved, I went back to 4.8.0, but soon I have a 1.19 server update, but without it, I'm bleeding because of the function.

So please fix it. <3